{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}
            {{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
        {% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title"
          content="{% block meta_title %}
                        {% if blog_page.seo_title %}
                            {{ blog_page.seo_title }}
                        {% else %}
                            {{ blog_page.title }}
                        {% endif %}
                   {% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}
                        {{ blog_page.search_description }}
                   {% endblock meta_description %}"/>
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
    {% block css %}
        <link rel='stylesheet' href="{% static 'puput/css/bootstrap.min.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'puput/css/font-awesome.min.css' %}">
        <link rel='stylesheet' href="{% static 'renda/css/jquery.bxslider.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'renda/css/style.css' %}">
        <style>
            body {
                --main-color: {{blog_page.main_color}};
            }
        </style>
        <!-- <link rel="stylesheet" href="{% static 'puput/css/puput.css' %}"/> -->

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
        
        


    {% endblock %}
</head>
<body>
    <div class="container">    
{% block blog_header %}
<header>
    {% if blog_page.header_image %}
    {% image blog_page.header_image max-1000x130 as header_image %}
    <a href="{% pageurl blog_page %}"><img src="{{ header_image.url }}"></a>
    {% endif %}
</header>
{% endblock blog_header %}
{% wagtailuserbar %}

{% block slide %}{% endblock slide %}


<div class="row">
    <div class="col-md-8">
        {% block content %}{% endblock content %}
        {% block extra_content %}{% endblock extra_content %}
    </div>
    <div class="col-md-4 sidebar-gutter">
        <aside>
        <!-- sidebar-widget -->



        <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
            <!-- <div class="input-group"> -->
            <div class="input-group">
                 <input type="search" class="form-control" name="q" placeholder="{% trans 'Search' %}" aria-label="Search">
                 <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                 </span>
            </div>
        </form>
            

        {% if blog_page.about %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'About me' %}</h3>
            <div class="widget-container widget-about">
                {{ blog_page.about|richtext }}
            </div>
        </div>
        {% endif %}

        {% if blog_page.display_last_entries %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'Last Entries' %}</h3>
            <div class="widget-container">
                <!-- entries template tags -->
                {% recent_entries blog_page.num_last_entries %}
            </div>
        </div>
        {% endif %}
        {% if blog_page.display_popular_entries %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'Popular Entries' %}</h3>
            <div class="widget-container">
                <!-- entries template tags -->
                {% popular_entries blog_page.num_popular_entries %}
            </div>
        </div>
        {% endif %}     
        
        {% if blog_page.display_categories %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'Categories' %}</h3>
            <div class="widget-container">
                <!-- categories template tags -->
                {% categories_list %}
            </div>
        </div>
        {% endif %}    

        {% if blog_page.display_tags %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'Tags' %}</h3>
            <div class="widget-container">
                <!-- tags_list template tags -->
                {% tags_list %}
            </div>
        </div>
        {% endif %}  

        {% if blog_page.display_archive %}
        <div class="sidebar-widget">
            <h3 class="sidebar-title">{% trans 'Archive' %}</h3>
            <div class="widget-container">
                <!-- archives template tags -->
                {% archives_list %}
            </div>
        </div>
        {% endif %}
        


        
        <!-- sidebar-widget -->

        </aside>
    </div>
</div>



<footer class="footer">

    <div class="footer-socials">
        {% if blog_page.github %}
        <a href="{{ blog_page.github }}"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if blog_page.linkedin %}
        <a href="{{ blog_page.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
        {% endif %}
        {% if blog_page.email %}
        <a href="mailto:{{ blog_page.email }}"><i class="fa fa-envelope"></i></a>
        {% endif %}
        {% if blog_page.instagram %}
        <a href="{{ blog_page.instagram }}"><i class="fa fa-instagram"></i></a>
        {% endif %}
    </div>

    <div class="footer-bottom">
        <i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br>
        Theme made by <a href="http://www.moozthemes.com">MOOZ Themes</a><br>
        Powered by <a href="http://www.djangoproject.com" rel="nofollow">Django</a>,
        <a href="http://www.wagtail.io" rel="nofollow">Wagtail</a> and
        <a href="http://github.com/APSL/puput" rel="nofollow">Puput</a>        
    </div>
</footer>


{% block js %}
    <!-- <script src="{% static 'puput/js/jquery.min.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{% static 'puput/js/puput.js' %}"></script>
    <script src="{% static 'renda/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'renda/js/jquery.bxslider.js' %}"></script>
    <script src="{% static 'renda/js/mooz.scripts.min.js' %}"></script>
{% endblock js %}
</body>
</html>